* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    margin: 2rem 0 0 0;
    background-color: #9d0208;
    width: 100%;
    max-width: 100%;
    color: #001427;
}

footer i {
    font-size: 1.2rem;
    color: #001427;
    margin: 0 1rem 1rem 0;
}

footer p {
    font-size: 1.2rem;
}

footer p i {
    font-size: 1.2rem;
    color: #001427;
    margin: 0 1rem 0 1rem;
}

footer p i:hover,
footer a i:hover {
    color: #708d81;
}