* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  background-color: #9d0208;
  color: #001427;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  background-color: #9d0208;
  color: #001427;
  font-size: 1rem;
  margin-bottom: 2.6rem;
}}